html, body {
    height: 100%;
    margin: 0;
    font-family: 'Nanum Gothic', sans-serif;
    overflow: hidden;
}

#screen {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../img/to_do_list.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10 !important;
}

#background{
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}


/*NAVBAR*/

.navbar{
    z-index: 3!important;
}

.white{
    color: white !important;
}

.navbar li a{
    color: white !important;
}

.navbar li{
    background-color: rgba(0,0,0,0.5);
    border-radius: 15px;
    padding: 0 20px;
}

.navbar li:hover{
    background-color: black;
    transition: 0.5s;
}

.navbar-brand{
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 15px;
    padding: 0 20px;
}

.dropdown-menu{
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 15px;
}

.dropdown-menu :hover{
    color: white;
    background-color: rgba(0,0,0,0.5) !important;
    border-radius: 15px;
    transition: 0.5s;
}

.container-fluid{
    min-height: 100%;
}


/*TASKLISTSLIST*/
#taskListsList{
        background-color: rgba(0,0,0,0.5);
        display: inline-block;
        border-radius: 15px;
        overflow: auto;
        overflow-y: auto;
        top: 2rem;
        transition: 0.5s;
        height: 92vh;
        z-index: 5 !important;

}


/*MENU*/
#menu{
    background-color: rgba(0,0,0,0.5);
    display: inline-block;
    border-radius: 15px;
    overflow: auto;
    overflow-y: auto;
    top: 2rem;
    transition: 0.5s;
    height: 50vh;
    z-index: 5 !important;
}

.hiddenMenu{
    background-color: rgb(0,0,0);
    display: inline-block;
    border-radius: 15px;
    overflow: auto;
    overflow-y: auto;
    position: absolute;
    top: 3.5rem;
    right: -40rem;
    transition: 0.5s;
    height: 50vh;
    z-index: 5 !important;

}

.hiddenMenu.active{
    position: absolute;
    right: 0;
}

.fa-plus-circle, .fa-minus-circle{
    color: grey;
    font-size: 5rem;
}

.buttonHiddenMenu{
    margin: 2rem 0;
}

.fa-times-circle{
    float: left;
    color: orange;
    margin: 10px 5px;
}

.fa-chevron-right{
    float: right;
    color: grey;
    font-size: 5rem;
}

.hover:hover{
    color: white;
    transition: 0.5s;
}
